<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/EdYOFb3lyVs);">
  <div class="container">
    <h1>Servicio Tiba SRL <strong>transporte</strong> de <strong>ganado</strong>!</h1>
    <p>Para todas las rutas en el país.</p>
    <a class="btn btn-light" href="#">Cotiza ahora!</a>
  </div>
</div>

<div class = "container">
  <div class="row">
<div class="card m-3 col" >
  <div class="card-body">
    <h5 class="card-title">Capacidad 25</h5>
    <p class="card-text">Tenemos transporte para 25 unidad animal.</p>
    <a href="#" class="btn btn-secondary">Mas info</a>
  </div>
</div>

<div class="card m-3 col" >
  <div class="card-body">
    <h5 class="card-title">Capacidad 50</h5>
    <p class="card-text">Tenemos transporte para 50 unidad animal.</p>
    <a href="#" class="btn btn-secondary">Mas info</a>
  </div>
</div>
</div>
</div>
